.page-banner {
  background-image: url('../images/values\ bg.jpg'); /* ✅ update path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;     /* ✅ to clear the fixed header */
  padding: 100px 0;      /* ✅ vertical space inside the banner */
  color: #ffff;          /* ✅ ensures heading text is visible */
  text-align: center;
  position: relative;
  z-index: 1;
}
.page-banner h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

/* Vision & Mission */
.vision-mission-section h4 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: start;
}

.vision-mission-section p {
  font-size: 15px;
  color: #333;
  text-align: start;
}

/* Values */
.values-section {
  background-color: #ffffff;
}

.values-section h2 {
  font-size: 30px;
  font-weight: bold;
}

.values-section .value-box {
  background-color: #01508c;
  border-left: 4px solid #01508c;
  transition: 0.3s;
  color: #f8f9fa;
}

.values-section .value-box:hover {
  background-color: #f8f9fa;
  color: #333;
}

/* Insights Section */
.insights-section h2 {
  font-weight: 700;
}

.insight-card img {
  height: 17rem;
}

.insight-card h6 {
  font-size: 16px;
  margin-bottom: 10px;
}

.insight-card p {
  font-size: 14px;
  color: #f8f9fa
}

